@media (max-width:452px) {
    .container1{
        display: flex;
        flex-wrap: wrap;

    }

    h1{
        font-size: 50px;}
}

@media (max-width:255px) {


    .shvili{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shvili2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:1212px) {

.background image{
max-width:1440px ;
width: 100%;}

    .first{
    display:block;
    width:90%;
    }

    .m9{
        font-size: 34px;
    }

    .m8{
        font-size: 56px;
    }

    .m7{
        font-size: 40px;
        display: block;
    }
.next{
   display: flex;
   flex-wrap: wrap;
   width: 50%;
}
}