@media (max-width:247px) {
    .container1{
        display: flex;
        flex-wrap: wrap;

    }

    .logo{
        width:100 ;
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;

    }
}