.container1{
    margin: 0 auto;
    max-width: 1254px;
    width: 100%; 
    max-height: 84px;
    height: 100%;
  }

  .con1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
.navv1{
  max-width:33px ;
  width: 100%;
  max-height:42px ;
  height: 100%;
}
  .logo{ 
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  nav{
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: flex-end;
  max-width: 554px;
  width: 100%;
  }
  
  section{
    margin: 18px auto;
max-width: 1440px;
width: 100%;

  }

.cardi{
  display: flex;
  justify-content:center; 
  flex-direction: row;
  align-items: center;
}

.background image{
  max-width: 1440px;
  width: 100%;
max-height: 606px;
height: 100%;
object-fit: contain;
background-image: url(../images/1.png);
background-color: bisque;
background-repeat: no-repeat;
position: relative;
background-size: cover;
}

.shvili{
  position: absolute;
  color: #FFF;
  font-family: Helvetica;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  ;
}
.shvili2{
   margin-top: 15%;
  position: absolute;
  color: #FFF;
font-family: Helvetica;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.first{
  margin: 0 auto;
  max-height: 233px;
  height: 100%;
  max-width: 235px;
  width: 100%;
}

footer{
  max-width: 1242px;
  width: 100%;
  max-height: 680px;
  width: 100%;
}

.fot1{
display: flex;
justify-content: space-between;
}


.m9{
  color: #636060;
font-family: Helvetica;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 56px;
margin-bottom: 9px;
}

.m8{
  color: #010101;
font-family: Helvetica;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 37px;
}

.m7{
  color: #636060;
font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.mg{
  max-width:286px;
  width: 100%;
max-height: 195px;
height: 100%;
margin-top: 56px;
}

.tt{
  margin-top: 23px;
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tkt{
  margin-top:9px;
  max-width: 286px;
  width: 100%;
  color: #636060;
font-family: Helvetica;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.next{
  max-height: 771px;
  height: 100%;
  max-width: 924px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
flex-wrap: wrap
}